spring:
    security:
        jwt:
            secret: "D0nL4JKs9MxZp9DBt2HT/j54Ul+j9kZ3icVTMeLEe+w="
            expiration-ms: 1800000
            refresh-token-expiration-ms: 86400000
            cleanup-cron: "0 0 3 * * ?"
    datasource:
        url: jdbc:postgresql://localhost:5432/postgres
        username: postgres
        password: postgres
        hikari:
            minimumIdle: 5
            maximumPoolSize: 30
            idleTimeout: 30000
            poolName: SpringBootJPAHikariCP
            maxLifetime: 2000000
            connectionTimeout: 30000

    jpa:
        hibernate:
            ddl-auto: none
        generate-ddl: true
        show-sql: true
        properties:
            hibernate:
                format_sql: true

    liquibase:
        change-log: classpath:liquibase-changeLog.xml
        enabled: true

    mail:
        host: localhost
        port: 1025
        username:
        password:
        properties:
            mail:
                smtp:
                    auth: false
                    starttls:
                        enable: false

server:
    port: 8081

notification:
    verification-url: http://localhost:8081/clients/verification?token=
    e-mail: service@public-library.com

app:
    scheduling:
        daily-notifications: "0 0 0 * * *"